.sidebar {
  width: 30%;
  background-color: orange;
  float: right;
  border: 2px solid #df0e62;
  padding: 6px;
  margin: 20px;
}
.column {
  width: 500px;
  float:left;
}

.column {
  width: 500px;
  float:left;
}

.pad {
  border: 1px solid #df0e62;

  padding-right: 2px;
  margin: 0;
  margin-right: 85%;

}
.padd {
clear: both;
}
